<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @manager.full_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @manager.bio %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @manager.photo %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @manager.country %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
