<!DOCTYPE html>
<html>
  <head>
    <title>Capstone EPL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="intro">
      <h1>English Premier League Home Page</h1>
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f2/Premier_League_Logo.svg/1200px-Premier_League_Logo.svg.png"
    </header>
    <nav>
      <ul class='nav'>
        <%= link_to 'Teams', teams_path %>
        <%= link_to 'Players', players_path %>
        <%= link_to 'Managers', managers_path %>
        <%= link_to 'Nationalities', nationalities_path %>
      </ul>
    
    </nav>

    <%= yield %>

  </body>
</html>
