<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Home Kit</th>
      <th>Away Kit</th>
      <th>Third Kit</th>
      <th>Kit Supplier</th>
      <th>Official Sponsor</th>
      <th>Stadium Photo</th>
      <th>Stadium Name</th>
      <th>Primary Color</th>
      <th>Secondary Color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><img src="<%= team.logo %>" class="logo"/></td>
        <td class="club"><%= team.name %></td>
        <td><img src="<%= team.home_kit %>" class="kit"/></td>
        <td><img src="<%= team.away_kit %>" class="kit"></td>
        <td><img src="<%= team.third_kit %>" class="kit"></td>
        <td><img src="<%= team.lead_partner_logo %>" class="sponsor"></td>
        <td><img src="<%= team.club_partner_logo %>" class="sponsor"></td>
        <td><img src="<%= team.stadium %>" class="stadium"></td>
        <td><%= team.stadium_name %></td>
        <td><%= team.primary_color %></td>
        <td><%= team.secondary_color %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
