<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Home kit:</strong>
  <%= @team.home_kit %>
</p>

<p>
  <strong>Away kit:</strong>
  <%= @team.away_kit %>
</p>

<p>
  <strong>Third kit:</strong>
  <%= @team.third_kit %>
</p>

<p>
  <strong>Main Sponsor:</strong>
  <%= @team.lead_partner_logo %>
</p>

<p>
  <strong>Kit Supplier:</strong>
  <%= @team.club_partner_logo %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @team.stadium %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @team.logo %>
</p>

<p>
  <strong>Primary_Color:</strong>
  <%= @team.primary_color %>
</p>

<p>
  <strong>Secondary_Color:</strong>
  <%= @team.secondary_color %>
</p>

<p>
  <strong>Stadium_Name:</strong>
  <%= @team.stadium_name %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
